/* 메인 */
#main {
  font-size: 12px;
  font-family: "돋움", dotum, AppleGothic;
  margin: auto;
  margin-top: 10px;
  border-radius: 20px;
  background-color: white;
  text-align: left;
  width: 350px;
  height: 300px;
}

/* 채팅 영역 */
#chat {
  font-size: 12px;
  font-family: "돋움", dotum, AppleGothic;
  height: 90%;
  width: 100%;
  overflow-y: auto;
}

/* 접속 알림 */
.connect {
  width: 90%;
  margin: auto;
  background-color: aquamarine;
  text-align: center;
  margin-top: 10px;
}

/* 접속 종료 알림 */
.disconnect {
  width: 90%;
  margin: auto;
  background-color: indianred;
  text-align: center;
  margin-top: 10px;
}

/* 내가 보낸 메시지 */
.me {
  width: 90%;
  margin: auto;
  background-color: white;
  border-radius: 5px;
  margin-top: 1px;
}

/* 상대방이 보낸 메시지 */
.other {
  width: 90%;
  margin: auto;
  background-color: white;
  border-radius: 5px;
  margin-top: 1px;
}

.button {
  width: 100%;
  height: 100%;
  background-color: white;
  border: 1px solid #cccccc;
}

input {
  width: 100%;
  height: 100%;
  padding: 0;
  border-width: 0;
  border: solid 1px lightblue;
  outline: none;
}

canvas {
  border: 1px solid black;
}
