html,
body {
  font-size: 12px;
  font-family: "돋움", dotum, AppleGothic;
  width: 300px;
  height: 200px;
  position: fixed;
}

/* 메인 */
#main {
  margin-top: 10px;
  border-radius: 20px;
  background-color: white;
  text-align: left;
  width: 300px;
  height: 200px;
}

/* 채팅 영역 */
#chat {
  width: 300px;
  height: 200px;
  overflow-y: auto;
}

/* 접속 알림 */
.connect {
  width: 280px;
  background-color: aquamarine;
  text-align: center;
  margin-top: 10px;
}

/* 접속 종료 알림 */
.disconnect {
  width: 280px;
  background-color: indianred;
  text-align: center;
  margin-top: 10px;
}

/* 내가 보낸 메시지 */
.me {
  width: 280px;
  background-color: white;
  border-radius: 5px;
  margin-top: 1px;
}

/* 상대방이 보낸 메시지 */
.other {
  width: 280px;
  background-color: white;
  border-radius: 5px;
  margin-top: 1px;
}

input {
  width: 300px;
  padding: 0;
  border-width: 0;
  border: solid 1px lightblue;
  outline: none;
}

canvas {
  border: 1px solid black;
}

.color {
  border: none;
  color: black;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 1px 1px;
  cursor: pointer;
  width: 25px;
  height: 30px;
}
