html,
body {
  font-size: 12px;
  font-family: "돋움", dotum, AppleGothic;
  width: 300px;
  height: 200px;
  position: fixed;
}

#main {
  border-radius: 20px;
  background-color: white;
  width: 300px;
  height: 200px;
}

#chat.device-pc {
  width: 300px;
  height: 200px;
  overflow-y: auto;
}

#chat.device-mobile {
  width: 300px;
  height: 150px;
  overflow-y: auto;
}

.connect {
  width: 280px;
  background-color: aquamarine;
  text-align: center;
}

.disconnect {
  width: 280px;
  background-color: indianred;
  text-align: center;
}

input {
  width: 300px;
  padding: 0;
  border-width: 0;
  border: solid 1px lightblue;
  outline: none;
}

canvas {
  border: 1px solid black;
}

.color {
  border: none;
  color: black;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 1px 1px;
  cursor: pointer;
  width: 25px;
  height: 30px;
}
